<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quick Cash | Create an account</title>
    <link rel="icon" type="image/x-icon" href="/img/hnet.com-image.ico">
    <link rel="stylesheet" media="screen" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="header">
        <h2>Quick Cash App</h2>
    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/user/register" method="POST">
        <h3>Create an account</h3>
         <label for="firstname">First Name</label>
        <input type="text" placeholder="First Name" id="firsrname" name="firstName" required>

         <label for="lastname">Last Name</label>
        <input type="text" placeholder="Name Name" id="lastname" name="lastName" required>

        <label for="email">Email</label>
        <input type="email" placeholder="Email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>

        <button>Register</button>
        
          
          <div class="sign-up"><a href="/">Already have an account?  Login</a></div>
    
    </form>
</body>
</html>
